// $body-color: #515151;

// Light Mode
// $white: #ffffff;
// $lightgray: #fafafa;
// $gray: #ecf0f1;
// $dark-gray: #a0a0a0;
// $dark-blue: #263959;
// $dark: #333030;
// $background-color: #fff;
// $body-color: #333;
// $body-bg-color: #fbfbfb;
// $blockquote-border: #000;
// $blockquote-color: #ada8a8;
// $table-border: #aaa;
// $table-bg-color: #eee;
// $post-bg-color: #fff;
// $box-shadow: rgba(31, 35, 46, 0.15);
// $box-shadow-hover: rgba(10, 16, 34, 0.2);
// $moz-selection-bg: rgba(38, 57, 89, 0.8);
// $selection-bg: rgba(38, 57, 89, 0.8);

// Dark Mode
$white: #333;
$lightgray: #222;
$gray: #111;
$dark-gray: #a0a0a0;
$dark-blue: #e84393;
$dark: #fc5c65; // #fbfbfb;
$background-color: #333;

$body-color: #fbfbfb;
$body-header-color: #fbfbfb;
$body-bg-color: #222;
$blockquote-border: #ffb8b8;
$blockquote-color: #ffcccc;
$paragraph-color: #e0e0e0;

$table-border: #aaa;
$table-bg-color: #eee;
$post-bg-color: #333;
$box-shadow: #555;
$box-shadow-hover: #000;

$moz-selection-bg: #aaa69d;
$selection-bg: #f7f1e3;
$link-color: #f78fb3;
